@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<BookstoreMVC.Models.Book>

<p>
    <a asp-action="" asp-controller="Book" class=" btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>AuthorName</th>
            <th>Description</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Actions</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.AuthorName</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>
                    <a asp-action="" asp-controller="Book" asp-route-id="@item.BookId" class=" bi bi-pencil-square btn-sm btn-primary"></a>
                    <a class="bi bi-trash btn-sm btn-danger" id="delete" onclick="delFunction('@item.BookId');"></a>
                    <a asp-action="" asp-controller="Book" asp-route-id="@item.BookId" class="btn-sm btn-warning">Publish</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    function delFunction(id) {
        let Id = parseInt(id);
        console.log(Id);
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: "/Book/DeleteBook/" + Id,
                    contentType: "application/json;charset=UTF-8",
                    success: function () {
                        setTimeout(myTimeout, 1000);
                        Swal.fire({
                            text: "Deleted",
                            icon: "success",
                            showConfirmButton: false,
                            timer: 1500
                        });
                    },
                    error: function () {
                        Swal.fire({
                            text: "Error",
                            icon: "danger",
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                })

            }
        })
    }

    function myTimeout() {
        location.reload();
    }
</script>
